* {
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 15px;
}

h1 {
  font-size: 22px;
  letter-spacing: 1px;
}

.nav-container {
  width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-entries {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

img {
  width: 100%;
}

p {
  font-size: 14px;
  font-weight: bold;
}

textarea,
input {
  width: 100%;
  border: 3px solid black;
  padding: 0.5rem;
  line-height: 1.5;
  font-size: 12px;
}

input {
  height: 2.5rem;
}

textarea {
  font-weight: bold;
  height: 10rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
}

.save-btn {
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  box-shadow: 3px 3px 2px black;
  cursor: pointer;
}

.new-entry-btn {
  padding: 0.25rem 0.5rem;
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
  height: 30px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.row-entries {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-pencil-alt {
  cursor: pointer;
}
